@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

* {
  box-sizing: border-box !important;
}

body {
  font-family: "Rubik", sans-serif !important;
  font-size: 1rem !important;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  position: relative;
  padding: 1rem;
  /* width: 100%; */
}

._card {
  max-width: 6rem;
  border-radius: 5px;
}

._card > img {
  max-width: 100%;
  width: auto;
  height: auto;
  border-radius: 5px;
  /* grid-area: 1 / 1 / 6 / 6; */
}

._card .front {
  transform: rotateY(90deg);
  position: relative;
  z-index: 10;
  transition: all ease-in 0.2s;
}

.flipped .front {
  transform: rotateY(0deg);
}

._card .back {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

/* 
button {
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background: #c23866;
} */
