* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flexbox {
  display: flex;
  align-items: center;
}

.App {
  width: 100%;
  flex-direction: column;
}

.navbar {
  width: 100%;
  justify-content: space-between;
  padding: 1em 4em;
  color: #fff;
  background: black;
}

.navbar span,
.navbar h2 {
  cursor: pointer;
  user-select: none;
}

.right-side {
  width: 25%;
  justify-content: space-evenly;
}
